[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/Tsuki/hexo-theme-landscape.git
[submodule "themes/yelee"]
	path = themes/yelee
	url = https://github.com/Tsuki/hexo-theme-yelee.git 
[submodule ".deploy_git"]
	path = .deploy_git
	url = https://github.com/Tsuki/Tsuki.github.io.git
